body {
  font-family: 'Roboto', sans-serif;
}
img {

}

.centered-form {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background-color: #dbecf3;
}

.centered-form__form {
  background: #29334c;
  border-radius: 3px;
  color: #36393f;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
  box-sizing: border-box;
  padding: 40px;
  width: 480px;
}

#joinMessage {
  color: white;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 8px !important;
}

#joinSubtitle {
  color: #72767d;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.form-field {
  color: #dbecf3;
  margin: 20px 0;
}

.form-field label {
  display: block;
  margin-bottom: 7px;
  color: #b9bbbe;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: .5px;
}

.join-button {
  border: none;
  background-color: #7289da;
  color: white;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  border-radius: 3px;
  padding: 10px;
}

.join-button:hover {
  background-color: #677bc4;
}

.join-anchor:link, .join-anchor:visited {
    background-color: #7289da;
    width: 100%;
    color: white;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.join-anchor:hover, .join-anchor:active {
    background-color: #677bc4;
}

.disabled
{
  pointer-events: none;
  opacity: .5;
}

.join__input[type=text] {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  background-clip: padding-box;
  border-radius: 3px;
  border: 1px solid #222a3f;
  box-sizing: border-box;
  padding: 10px;
  background-color: #222a3f;
  color: #dbecf3;
  height: 40px;
  font-size: 14px;
}

.join__input[type=text]:focus {
    border: 1px solid #7289da;
    background-color: #222a3f;
}

.join__input.ng-touched.ng-invalid {
    border: 1px solid #F24073;
}
.join__input.ng-touched.ng-valid {
    border: 1px solid #3DF4AE;
}
