#sender {
  font-weight: bold;
  font-size: 16px;
}

#message-time {
  font-size: 12px;
  color: grey;
}

#text-message {
  font-size: 14px;
}

ol {
  padding: 0px;
}

.chat__button {
  flex: 0 0 auto;
  border: none;
  background: #265f82;
  color: white;
  cursor: pointer;
  padding: 10px;
  transition: background .3s ease;
}

.chat__button:hover {
  background: #1F4C69;
}

.chat__button:disabled {
  cursor: default;
  background: #698ea5;
}

.speech-bubble {
  position: relative;
  background: #DBECF3;
  margin-bottom: 5px;
  padding: 5px 10px 5px 10px;
}
/* .speech-bubble:after { content: ''; position: absolute; left: 0; top: 50%; width: 0; height: 0; border: 18px solid transparent; border-right-color: #1e6d9d; border-left: 0; border-top: 0; margin-top: -65px; margin-left: -18px; } */

.chat {
  display: flex;
}

.chat__sidebar {
  background: #29334C;
  /* overflow-y: scroll; */
  width: 260px;
  height: 100vh;
}

.chat__sidebar h3 {
  color: #e6eaee;
  margin-left: 10px;
  margin-top: 10px;
}

.chat__sidebar ul {
  list-style-type: none;
}

.chat__sidebar li {
  background: #e6eaee;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.chat__main {
  background: #29334C;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.chat__messages {
  flex-grow: 1;
  list-style-type: none;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.chat__footer {
  background: #e6eaee;
  display: flex;
  /* padding: 10px;
  height: 60px;
  flex-shrink: 0; */
}

.chat__footer form {
  flex-grow: 1;
  display: flex;
}

.chat__footer form * {
  /* margin-right: 10px; */
}

.message__input[type=text] {
  height: 100%;
  width: 100%;
  padding: 0.375rem 0.75rem;
  /* line-height: 1.5;
  padding: 10px; */
  /* box-sizing: border-box; */
  border: 1px solid #222a3f;
  background-color: #222a3f;
  color: #dbecf3;
  /* font-size: 14px; */
  flex-grow: 1;
}

/* .chat__footer input {
  border: none;
  padding: 10px;
  flex-grow: 1;
} */

/* .message__title {
  display: flex;
  margin-bottom: 5px;
} */

/* .message__title h4 {
  font-weight: 600;
  margin-right: 10px;
} */

/* .message__title span {
  color: #999;
} */

@media (max-width: 600px) {
  * {
    font-size: 1rem;
  }

  .chat__sidebar {
    display: none;
  }

  .chat__footer {
    flex-direction: column;
  }

  .chat__footer form {
    margin-bottom: 10px;
  }

  .chat__footer button {
    margin-right: 0px;
  }
}
