<div class="chat" ng-controller="chatCtrl">
  <!-- Sidebar -->
  <div class="chat__sidebar">
    <nav id="sidebar">
      <h3>People</h3>
      <div id="users">
        <ol>
          <li ng-repeat="y in usersArray track by $index">
            {{y}}
          </li>
        </ol>
      </div>
    </nav>
  </div>

    <!-- Page Content -->
    <div id="content" class="chat__main">
      <ol id="messages" class="chat__messages">
        <li ng-repeat="x in messageArray track by $index">
          <div class="speech-bubble">
            <div>
            <span id="sender">{{x.from}}</span>
            <span id="message-time"> {{x.createdAt}}</span>
          </div>
            <span id="text-message">{{x.text}}</span>
          </div>
        </li>
      </ol>
      <!-- <ol id="messages" class="chat__messages">
        <li ng-repeat="x in locationMessageArray track by $index">
          <div class="speech-bubble">
            <div>
            <span id="sender">{{x.from}}</span>
            <span id="message-time"> {{x.createdAt}}</span>
          </div>
            <span id="text-message">My Current Location</span>
          </div>
        </li>
      </ol> -->

      <div class="chat__footer">
        <form>
          <input class="message__input" type="text" placeholder="Message..." ng-model='message.text'/>
          <button class="chat__button" ng-click="submit()">Send</button>
          <button class="chat__button" ng-click="locationSubmit()">Send Location</button>
        </form>
      </div>
    </div>
</div>
