<!DOCTYPE html>
<html lang="en" ng-app="gcta">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap-css/bootstrap.css">

  <title>Document</title>
</head>
<body ng-controller='mainController'>
  <!-- Sidebar -->
  <div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Bootstrap Sidebar</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Dummy Heading</p>
            <li>
                <a href="#">About</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content -->
    <div id="content">
      <p>Welcome to the chat app</p>

      <ol id="messages">
        <li ng-repeat="x in messageArray">{{x.from}}: {{x.text}}</li>
      </ol>

      <form id="message-form">
        <input name="message" type="text" placeholder="Message..." ng-model='message.text' required/> {{message.text}}
        <button class="btn btn-primary" ng-click="submit()">Send</button>
      </form>
    </div>
  </div>

  <script src="/js/libs/angular.js"></script>
  <script src="/js/libs/angular-route.js"></script>
  <script src="/js/libs/bootstrap-js/bootstrap.js"></script>
  <script src="/js/index.js"></script>
  <script src="/socket.io/socket.io.js"></script>

</body>
</html>
